
.mozi__backdrop {
    background-color: rgba(0 0 0 / 0.2);
    position: fixed;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity, visibility;
    transition-duration: 0.3s;
}

.mozi--show {
    opacity: 1;
    visibility: visible;
}

.mozi__backdrop--show .mozi__container {
    transform: scale(1);
}

.mozi__container {
    width: min(600px, 80%);
    background: #fff;
    padding: 28px;
    border-radius: 10px;
    position: relative;
    transform: scale(0);
    transition: transform 0.3s;
}
.mozi__close {
    position: absolute;
    top: 6px;
    right: 6px;
    font-size: 2rem;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: #666;
}
.mozi__content {
    max-height: 80vh;
    overflow-y: auto;
}

.mozi--no-scroll {
    overflow: hidden;
}

.mozi__footer {
    display: flex;
    justify-content: end;
    gap: 8px;

}
